  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/cart.css">
  <style>
    .loading {
      text-align: center;
    }

    .loading-gif {
      height: 10vw; 
      max-height: 150px;
      min-height: 75px;
      width: auto;
    }

    .loading-title {
      font-size: 1.5rem;
      text-shadow: 0 1px 1px #115e2e;
    }
  </style>

</head>

    <body>

        <%- include('../includes/navigation.ejs') %>

        <main id="main">
          <div id="content">
          </div>
        </main>

        <script src="/js/cart/cart-control.js"></script>\
        
        <%- include('../includes/end.ejs') %>