<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <center>
        <div class="text-center text-warning">
          <h1>An error has occurred :(</h1>
          <h2><%= msg %></h2>
          </div>
     </center>
    </main>
<%- include('includes/end.ejs') %>
